@import "tailwindcss";



:root {
  --primary: #FF6464; /* Figma red */
  --background: #FFFFFF;
  --text-dark: #1E1E1E;
}

body {
  @apply bg-[var(--background)] text-[var(--text-dark)];
  font-family: 'Inter', sans-serif;
}
